<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="https://www.amazon.in"/>
		<add key="negative_reports" value="C:\Users\abhib\source\repos\AmazonProject\AmazonProject\Reports\NegativeScenariosReport\"/>
		<add key="positive_reports" value="C:\Users\abhib\source\repos\AmazonProject\AmazonProject\Reports\PositiveScenariosReport\"/>
	</appSettings>
</configuration>